body{
    font-family: sans-serif;
    box-sizing: border-box;
}

.explore{
    height: fit-content;
    display: flex;
    justify-content: center;
}

.explore-window{
    height: 90%;
    width: 100%;
    display: flex;
}

.explore-side-menu{
    width: 4%;
    overflow: hidden;
    transition: width .50s cubic-bezier(0.77,0,0.175,1);
    padding: 10px;
    border-right: 2px solid #e6ebef;
}

.explore-side-menu.burger-toggle{
    width: 20%;
    height: 100%;
    transition: width .50s ease-in-out;
}

.explore-side-menu.burger-toggle .bottom-half .item:hover{
    cursor: pointer;
    background-color: #e6ebef;
}

.top-half{
    border-bottom: 1px solid #e6ebef;
    display: flex;
    justify-content: flex-start;
    
}

.top-half-content{
    margin-left: 20px;
    padding-bottom: 10px;
}

.fas{
    cursor: pointer;
    color: gray;
}

.bottom-half{
    height: 100%;
}

.side-menu-items{
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.side-menu-items .item{
    display: grid;
    grid-template-columns: 50px auto;
    place-items: center;
}

.side-menu-items .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding-left: 5px;
}

.side-menu-items .item .fas{
    margin-right: 50px;
}

.side-menu-items li{
    list-style-type: none;
    padding: 20px;
}

.side-menu-items li:hover{
    background-color: #e6ebef;
    border-radius: 10px;
}

.side-menu-items li a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.explore-content{
    width: 96%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.departure-form{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.origin, .destination, .date{
    margin-right: 10px;
}

.departure-form .origin{
    position: relative;
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-left: 15px;
}

.departure-form .icon-container{
    display: grid;
    place-items: center;
}

.departure-form .origin .fas{
    position: absolute;
    left: 0;
    margin-left: 10px;
}

.departure-form .origin .smartform-origin{
    width: 100%;
    margin-left: 50px;
    outline: none;
}


.departure-form .origin, .departure-form .destination, .departure-form .date input{
    padding: 15px;
    background-color: whitesmoke;
    outline: none;
    border: none;
}

.departure-form .destination{
    position: relative;
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.departure-form .destination .smartform-destination{
    width: 100%;
    margin-left: 50px;
    outline: none;
}

.departure-form .destination .fa-solid{
    position: absolute;
    left: 0;
    margin-left: 10px;
}

.departure-form .date{
    width: 20%;
    padding: 15px !important;
}

.departure-form .date input{
    width: 100%;
}

.search-wrapper{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #007e3e;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
    display: grid;
    place-items: center;
}

.search{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    display: grid;
    place-items: center;
}

.search .search-circle{
    width: 15px;
    height: 15px;
    border: 4px solid whitesmoke;
    border-radius: 100%;
}

.search .search-rectangle{
    position: absolute;
    right: 15px;
    bottom: 4px;
    width: 6px;
    transform: rotate(45deg);
    border: 3px solid whitesmoke;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.map{
    width: 98%;
    padding: 10px;
}

.map iframe{
    width: 100%;
}

.explore-destinations{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.places-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    /* background-color: blue; */
    padding: 10px;
    column-gap: 20px;
    row-gap: 30px;
    /* margin: 2% 2%; */
    width: 85%;
}

.places{
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* height: 330px; */
    cursor: pointer;
    border-radius: 15px;
    /* width: 430px; */
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    box-shadow:  2px 2px 10px #151414;
    border: none;
}

.places .place-image{
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 4px groove #068341;
}


 .explore-place-image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: none !important;
}

.country{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.country span{
    font-weight: bold;
}

.loadmore{
    display: grid;
    place-items: center;
}

.loadmore a{
    padding: 25px;
    outline: none;
    text-decoration: none;
    color: black;
    background-color: #E1AD01;
    border-radius: 10px;
}

.loadmore a:hover{
    background-color: #947205;
}

@media screen and (max-width: 768px){

    .mobile-menu-hamburger{
        display: grid;
        place-items: center;
        /* position: relative; */
        /* top: 50px; */
        /* left: 50px; */
        margin-right: 20px;
        user-select: none;
        z-index: 10000;
        width: 30%;
        overflow: hidden !important;
    }

    .mobile-menu-hamburger input{
        display: block;
        width: 50px;
        height: 40px;
        position: absolute;
        z-index: 0;
        opacity: 0;
        top: 27%;
        right: 8.5%;
        overflow: hidden !important;
    }
   
    .mobile-menu-hamburger span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        /* position: relative; */
        background-color: black;
        z-index: 10000;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
    }

    .mobile-menu-hamburger span:first-child{
        transform-origin: 0% 0%;
    }

    .mobile-menu-hamburger span:last-child(2){
        transform-origin: 0% 100%;
    }

    .mobile-menu-hamburger input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(1.7px, 1px);
        background-color: black;
    }

    .mobile-menu-hamburger input:checked ~ span:nth-last-child(2){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    .mobile-menu-hamburger input:checked ~ span:nth-last-child(1){
        transform: rotate(-45deg) translate(-3px, -1px)
    }

    .mobile-menu{
        display: none;
        height: 60%;
        /* height: 0; */
        /* transform: translateX(420px); */
        transition: all 300ms ease;
        position: absolute;
        z-index: 1000;
        background-color: whitesmoke;
        /* width: 100%;
        top: 0;
        left: 0;
        padding-top: 10px;
        padding-bottom: 20px; */
        top: 0;
        left: 100%
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        padding: 0;
        margin-top: 35%;
    }

    .mobile-menu ul li{
        list-style-type: none;
        padding: 10px;
        justify-self: center;
    }

    .mobile-menu li a{
        color: black;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        font-weight: 800;

    }

    .explore{

    }

    .explore-window{
        flex-direction: column;
    }
    .explore-side-menu{
        display: flex;
        width: 92%;
        overflow-x: hidden;
        padding: 0 !important;
        border-right: none !important;
    }

    .top-half{
        display: none;
    }

    .bottom-half{
        width: 85%;
        overflow: scroll;
    }

    .side-menu-items{
        flex-direction: row;
        width: 85%;
        padding: 0 !important;
        padding-left: 10px !important;
    }

    .explore-content{
        width: 95%;
        /* padding: 10px; */
        padding-left: 10px !important;
    }

    .departure-form{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .departure-form .origin,
    .departure-form .destination,
    .departure-form .date,
    .search-wrapper{
        width: 80%;
        margin-top: 10px;
    }

    .departure-form .destination{
        margin-left: 15px;
    }
    
    .departure-form .date{
        padding: 15px;
        padding-left: 0 !important;
    }
    
    .departure-form .date input{
        margin-right: 25px;
    }

    .search-wrapper{
        width: 90%;
        margin-right: 0;
    }

    .map{
        width: 90%;
    }

    .explore-destinations{
        width: 90%;
    }

    .places-container{
        grid-template-columns: repeat(1, minmax(60%, 1fr));
        place-items: center;
    }

    .loadmore{
        display: none;
    }
}