body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body.visible{
    content-visibility: auto;   
}

#preloader{
    /* display: none ; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000000000000000000000000000000000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

#preloader.inactive{
    opacity: 0;
    visibility: hidden;
}



#preloader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddd;
    border-top-color: #007e3e;
    border-radius: 50%;
    animation: loading 1.2s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }

    to{
        transform: rotate(1turn);
    }
}


/* Slider typeshit */
.hero{
    font-family:"Roboto", Arial, Verdana, Helvetica, sans-serif;
    height: 710px;
    /* background: url('../images/waterside.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    /* display: none; */
}

/* .hero.active{
    display: block;
} */

.swiper{
    height: 100% !important;
}

.hero-slides{
    height: 100% !important;
    display: grid !important;
    place-items: center !important;
}

.hero-slides img{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.observable-area{
    position: sticky;
    top: 300px;
    right: 0;
    height: 200px;
    left: 0;
    z-index: 20000000;
    background-color: red;
}

.carousel-title{
    position: absolute;
    bottom: 2100px;
    font-size: 80px;
}

.taking{
    position: absolute;
    bottom: 2200px;
    font-size: 30px;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
    cursor: pointer;
}

.heros{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.3);
}

.what-egg-brings{
    height: fit-content;
    margin-left: 7%;
    margin-right: 7%;
    transform: translateX(-90%);
    opacity: 0;
    transition: all 1s linear;
}

.what-egg-brings.active{
    margin-left: 7%;
    margin-right: 7%;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.8s linear;
}

.what-egg-brings

.section-header{
    color: #05833F;
}

.section-content{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
}



#ft1 {
    margin-left: 18%;
    width: 74%;
}

#ft2{
    width: 74%;
}


.section-content .feature{
    border: 1px solid;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    transition: border-radius 0.1s ease-in-out;
}

.section-content .feature:hover{
    border-radius: 50px;
    box-shadow:  2px 2px 20px #006b35, 2px 2px 10px #009147;
}

.feature-icon-container{
    background-color:hsla(120, 57%, 73%, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.section-content .feature .fas{
    color: #007e3e;
}

section.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 600px;
    flex-direction: column;
    margin-left: 143px;
    margin-right: 143px;
    /* transform: translateX(120%); */
    /* opacity: 0; */
    transition: all 1s linear;
}

section.our-services.active{
    opacity: 1;
    transform: translateX(0) !important;
}

.services-header{
    display: grid;
    place-items: center;
    height: 10%;
    margin-bottom: 50px;
   
}


.services-content-container{
    height: 90%;
    width: 100%;
    overflow: hidden;
}
@keyframes slide{
    0%{
        transform: translateX(0px);
    }

   
    94%{
        transform: translateX(-1320px);
    }

    100%{
        transform: translateX(0px);
    }

}
.services-content{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    flex-shrink: 0;
}

.service-card{
    /* flex-basis: 20%; */
    /* display: flex;
    flex-direction: column; */
    height: 400px;
    width: 500px;
    /* border-color: #006b35; */
    border-radius: 50px;
    /* background: #007e3e; */
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}


.service-card img{
    height: 90%;
    width: 100%;
    border-radius: 50px;
}

.service-description{
    position: absolute;
    top: 0;
    padding-top: 30%;
    color: white;
    padding-left: 30%;
    z-index: 10;
}

.service-card-overlay{
    position: absolute;
    height: 90%;
    background-color: black;
    width: 100%;
    opacity: 0.6;
    border-radius: 50px;
    top: 0;
}



.previous-destinations-container{
    height: 1250px;
    padding-top: 10px;
    margin-top: 60px;
    width: 100%;
    transform: translateX(-90%);
    /* opacity: 0; */
    transition: all 1.5s linear;
}

.previous-destinations-container.active{
    opacity: 1;
    transform: translateX(0) !important;
}

.previous-destinations{
    /* padding-left: 1.25rem;
    padding-right: 1.25rem; */
    margin-left: 143px;
    margin-right: 143px;
    display: flex;
    flex-direction: column;
    /* width: 1080px; */
    height: 100%;
}

.destination-title{
    text-align: center;
}

#previous-p{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    color: #a4a4a4;
}

#destinations-p{
    font-size: 50px;
    font-weight: 700;
    line-height: 76px;
}

.destinations{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 10px;
    justify-content: space-between;
    flex-basis: 0 0 33.3333333%;
}

.firstTwo-destinations, .firstThree-destinations{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.mauritius, .singapore{
    min-height: 1px;
    height: 500px;
    width: 49%;
    background-image: url('../images/focus-photography-mauritius-wVuRAom5v6U-unsplash.jpg');
    background-size: cover;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.mauritius{
    background-image: url('../images/mauritius-unsplash.jpg');
}

.singapore{
    background-image: url('../images/singapore\ unsplash.jpg');
}

.mauritius h2, .singapore h2, .egypt h2, .london h2, .south-africa h2{
    font-family: "Poppins",Sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 100px;
    margin: 0;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    margin-left: 10px;
}

.mauritius-overlay, .singapore-overlay, .egypt-overlay, .london-overlay, .south-africa-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.5);   
    /* opacity: 0.7; */
    z-index: 1;
    cursor: pointer;
    border-radius: 20px;
    /* transition: height 2s ease-in-out; */
}

/* .mauritius-overlay:hover, .singapore-overlay:hover{
    height: 10%;
} */

.egypt, .london, .south-africa{
    height: 300px;
    /* flex-basis: 32.3%; */
    width: 30%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.egypt{
    background-image: url('../images/egypt\ unsplash.jpg');
}

.london{
    background-image: url('../images/london.jpg');
}

.south-africa{
    background-image: url('../images/southafrica-unsplash.jpg');
}

.egypt h2, .london h2, .south-africa h2{
    font-size: 40px;
    margin-left: 10px;
}

.destination-request-booking{
    display: grid;
    place-items: center;
    height: 100%;
}

.dest{
    position: relative;
    z-index: 1;
    width: fit-content;
    overflow: hidden;
    height: 200px;
    display: grid;
    place-items: center;
}

.discover{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    /* background-color: #E1AD01; */
    border: 2px solid #E1AD01;
    width: 200px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: none;
}

.discover::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #E1AD01;
    top: 0;
    left: 95px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(0);
    padding: 20px;
}

.discover:hover::before{
    /* top: 0; */
    width: 100%;
    height: 100%;
    transform: translateX(-45%);
    opacity: 1;
    border-radius: 0;
}

.destination-card{
    height: fit-content;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  5px 5px 40px #bebebe,
                -10px -10px 20px #ffffff;
    flex-basis: 25%;
    padding: 10px;
}

.destination-card:hover{
    cursor: pointer;
}

.destinations > div{
    margin-top: 30px;
}
.destination-image{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.destination-image:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.4s;
}

.next-holiday{
    height: 950px;
    padding: 2%;
    border-radius: 25px;
    position: relative;
    transform: translateX(-90%);
    opacity: 0;
    transition: all 1s linear;
}

.next-holiday.active{
    opacity: 1;
    transform: translateX(0) !important;
}

.holiday{
    min-height: 60%;
    background-image: url('../images/tanzania.jpg');
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.next-holiday-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.5);  
    border-radius: 25px;
}

.holiday h2{
    font-weight: 900;
    font-size: 90px;
    margin-bottom: 0;
    z-index: 1;
}

.holiday .packages-link{
    text-decoration: none;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    width: fit-content;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.holiday .packages-link::before{
    content: "";
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 80px;
    z-index: -1;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.5s ease;
    opacity: 0;
}

.holiday .packages-link:hover::before{
    width: 100%;
    height: 100%;
    transform: translateX(48%);
    border-radius: 25px;
    transition: all 0.4s ease;
    opacity: 1;
}

.packages-link:hover{
    color: black;
}

.travel-with-us{
    position: absolute;
    background-image: url('../images/surfer-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 30%;
    border-radius: 25px;
    left: 12%;
    top: 500px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.travel-with-us .trheader{
    color: black;
    flex-direction: column;
}

.travel-with-us .trheader h3{
    font-size: 70px;
    margin: 0;
}

.travel-with-us .trheader h4{
    font-size: 30px;
    margin: 0;
}

.travel-with-us .email-address{
    width: 50%;
    position: relative;
}

.travel-with-us .email-address input{
    border-radius: 25px;
    padding: 20px;
    outline: none;
    border: none;
    width: 90%;
    font-size: large;  
}

.travel-with-us .email-address a{
    text-decoration: none;
    background-color: #00b9f3;
    padding: 22px;
    border-radius: 25px;
    position: absolute;
    right: 0;
}

.footer{
    height: 40vh;
    background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgba(0,126,62,1) 20%, rgba(0,126,62,1) 80%, rgb(32, 32, 32) 100%);
}

.footer-container{
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 0px 90px;
    height: 100%;
}

.footer-menu-item ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu-item ul li{
    list-style-type: none;
    margin: 10px 0;
}

.footer-menu-item ul li a{
    text-decoration: none;
    color: white;
}

.footer-menu-item ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px){

    html,body{
        overflow-x: hidden !important;
    }

    .header{
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
        background-color: #05833F;
        overflow: hidden
    }
    .nav{
        justify-content: space-between !important;
        width: 70%;
        overflow: hidden !important;
    }
    .wave{
        display: none;
    }

    .logo{
        height: 60%;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .logo img{
        height: 100% !important;
        width: 45% !important
    }
    .mainMenu{
        display: none;
    }
    .account{
        display: block;
        width: 30%;
    }

    .signUp{
        width: 100%;
    }

    #requestBooking{
        height: 80%;
        width: 80%;
        font-size: 12px;
    }

    .form-section{
        width: 100%;
    }

    .booking-form{
        width: 90%;
    }

    .booking-form .left-pane{
        width: 10%;
    }

    .booking-form .left-pane img{
        display: none;
    }

    .booking-form .right-pane{
        width: 90%;
    }
    
    .form-popup-body{
        width: 80%;
    }

    .form-popup{
        width: 100%;
        margin-top: 0;
    }

    .form-popup .exit-form-area-button{
        color: black;
    }

    .mobile-menu-hamburger{
        display: grid;
        place-items: center;
        position: relative;
        /* top: 50px; */
        /* left: 50px; */
        margin-right: 20px;
        user-select: none;
        z-index: 10000;
        width: 30%;
        overflow: hidden !important;
    }

    .mobile-menu-hamburger input{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        opacity: 0;
        /* top: 27%; */
        /* right: 8.5%; */
        top: 0;
        overflow: hidden !important;
    }
   
    .mobile-menu-hamburger span{
        display: block;
        width: 50%;
        height: 4px;
        margin-bottom: 5px;
        /* position: relative; */
        background-color: white;
        z-index: 10000;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
    }

    .mobile-menu-hamburger span:first-child{
        transform-origin: 0% 0%;
    }

    .mobile-menu-hamburger span:last-child(2){
        transform-origin: 0% 100%;
    }

    .mobile-menu-hamburger input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(1.7px, 1px);
        background-color: black;
    }

    .mobile-menu-hamburger input:checked ~ span:nth-last-child(2){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    .mobile-menu-hamburger input:checked ~ span:nth-last-child(1){
        transform: rotate(-45deg) translate(-3px, -1px)
    }

    .mobile-menu{
        display: none;
        height: 80% !important;
        /* height: 0; */
        /* transform: translateX(420px); */
        transition: all 300ms ease;
        position: absolute;
        /* z-index: 1000; */
        background-color: whitesmoke;
        /* width: 100%;
        top: 0;
        left: 0;
        padding-top: 10px;
        padding-bottom: 20px; */
        top: 0;
        /* left: 100% */
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        padding: 0;
        margin-top: 30%;
    }

    .mobile-menu ul li{
        list-style-type: none;
        padding: 5px;
        justify-self: center;
    }

    .mobile-menu li a{
        color: black;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        font-weight: 800;

    }

    .hero{
        height: 50vh;
        overflow: hidden;
    }

    .swiper{
        height: 100%;
    }

    .swiper-slide .carousel-title{
        font-size: 50px !important;
    }

    .what-egg-brings{
        overflow: hidden;
        width: 90%;
        margin-left: 4% !important;
        margin-right: 4% !important;
        padding: 10px
    }

    .section-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-content {
        width: 100%;
    }

    .ft1{
        margin-left: 0 !important;
    }

    #ft1, #ft2{
        width: auto;
    }

    .our-services{
        display: none !important;
    }
  
    .previous-destinations-container{
        height: fit-content;
        margin-bottom: 20px;
    }

    .previous-destinations{
        display: flex;
        margin-left: 4% !important;
        margin-right: 4% !important;
        height: 100%;
        justify-content: space-around;
    }

    .destination-title{
        width: 100%;
        height: 10%;
    }

    .top-destination-title{
        width: 100%;
    }

    .top-destination-title h2{
        font-size: 30px !important;
    }

    .destinations{
        height: 50%;
    }


    .firstTwo-destinations{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .firstTwo-destinations .mauritius{
        width: 100%;
    }

    .firstTwo-destinations .singapore{
        width: 100%;
        margin-top: 10px;
    }

    .firstTwo-destinations .mauritius h2, 
    .firstTwo-destinations .singapore h2{
        font-size: 30px;
    }

    .firstThree-destinations{
        display: flex;
        flex-direction: column;
    }

    .firstThree-destinations > *{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0 !important;
    }

    .destination-request-booking{
        height: 10% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }

    .dest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        height: 100%;
    }

    .discover{
        position: static;
    }

    .next-holiday{
        display: flex;
        flex-direction: column;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 0;
        justify-content: space-between;
        height: 100vh;
        padding: 30px 0;
    }

    .holiday{
        height: 60%;
    }

    .holiday h2{
        font-size: 30px;
    }

    .travel-with-us{
        position: static;
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 85% !important;
        margin-top: 10px;
    }

    .travel-with-us .trheader h4{
        font-size: 30px;
    }

    .travel-with-us .trheader h3{
        font-size: 30px;
    }

    .email-address{
        width: 100% !important;
    }

    .email-address input{
        width: 70% !important;
    }

    .footer{
        height: fit-content;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px 0 20px;
    }
}