body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
}

/* Slider typeshit */
.hero{
    font-family:"Roboto", Arial, Verdana, Helvetica, sans-serif;
    height: 710px;
    /* background: url('../images/waterside.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.swiper{
    height: 100% !important;
}

.hero-slides{
    height: 100% !important;
    display: grid !important;
    place-items: center !important;
}

.hero-slides img{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.carousel-title{
    position: absolute;
    bottom: 2100px;
    font-size: 80px;
}

.taking{
    position: absolute;
    bottom: 2200px;
    font-size: 30px;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
    cursor: pointer;
}

.heros{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.3);
}

.what-egg-brings{
    height: fit-content;
    margin-left: 7%;
    margin-right: 7%;
}

.section-header{
    color: #05833F;
}

.section-content{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
}

#ft1 {
    margin-left: 18%;
    width: 74%;
}

#ft2{
    width: 74%;
}


.section-content .feature{
    border: 1px solid;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    transition: border-radius 0.1s ease-in-out;
}

.section-content .feature:hover{
    border-radius: 50px;
    box-shadow:  2px 2px 20px #006b35, 2px 2px 10px #009147;
}

.feature-icon-container{
    background-color:hsla(120, 57%, 73%, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.section-content .feature .fas{
    color: #007e3e;
}

section.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 600px;
    flex-direction: column;
    margin-left: 143px;
    margin-right: 143px;
}

.services-header{
    display: grid;
    place-items: center;
    height: 10%;
    margin-bottom: 50px;
}

.services-content-container{
    height: 90%;
    width: 100%;
    overflow: hidden;
}
@keyframes slide{
    0%{
        transform: translateX(0px);
    }

   
    94%{
        transform: translateX(-1320px);
    }

    100%{
        transform: translateX(0px);
    }

}
.services-content{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    flex-shrink: 0;
}

.service-card{
    /* flex-basis: 20%; */
    /* display: flex;
    flex-direction: column; */
    height: 400px;
    width: 500px;
    /* border-color: #006b35; */
    border-radius: 50px;
    /* background: #007e3e; */
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}


.service-card img{
    height: 90%;
    width: 100%;
    border-radius: 50px;
}

.service-description{
    position: absolute;
    top: 0;
    padding-top: 30%;
    color: white;
    padding-left: 30%;
    z-index: 10;
}

.service-card-overlay{
    position: absolute;
    height: 90%;
    background-color: black;
    width: 100%;
    opacity: 0.6;
    border-radius: 50px;
    top: 0;
}



.previous-destinations-container{
    height: 1250px;
    padding-top: 10px;
    margin-top: 60px;
    width: 100%;
}

.previous-destinations{
    /* padding-left: 1.25rem;
    padding-right: 1.25rem; */
    margin-left: 143px;
    margin-right: 143px;
    display: flex;
    flex-direction: column;
    /* width: 1080px; */
    height: 100%;
}

.destination-title{
    text-align: center;
}

#previous-p{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    color: #a4a4a4;
}

#destinations-p{
    font-size: 50px;
    font-weight: 700;
    line-height: 76px;
}

.destinations{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 10px;
    justify-content: space-between;
    flex-basis: 0 0 33.3333333%;
}

.firstTwo-destinations, .firstThree-destinations{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.mauritius, .singapore{
    min-height: 1px;
    height: 500px;
    width: 49%;
    background-image: url('../images/focus-photography-mauritius-wVuRAom5v6U-unsplash.jpg');
    background-size: cover;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.mauritius{
    background-image: url('../images/mauritius-unsplash.jpg');
}

.singapore{
    background-image: url('../images/singapore\ unsplash.jpg');
}

.mauritius h2, .singapore h2, .egypt h2, .london h2, .south-africa h2{
    font-family: "Poppins",Sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 100px;
    margin: 0;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    margin-left: 10px;
}

.mauritius-overlay, .singapore-overlay, .egypt-overlay, .london-overlay, .south-africa-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.5);   
    /* opacity: 0.7; */
    z-index: 1;
    cursor: pointer;
    border-radius: 20px;
    /* transition: height 2s ease-in-out; */
}

/* .mauritius-overlay:hover, .singapore-overlay:hover{
    height: 10%;
} */

.egypt, .london, .south-africa{
    min-height: 1px;
    height: 300px;
    flex-basis: 32.3%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.egypt{
    background-image: url('../images/egypt\ unsplash.jpg');
}

.london{
    background-image: url('../images/london.jpg');
}

.south-africa{
    background-image: url('../images/southafrica-unsplash.jpg');
}

.egypt h2, .london h2, .south-africa h2{
    font-size: 40px;
    margin-left: 10px;
}

.destination-request-booking{
    display: grid;
    place-items: center;
    height: 100%;
}

.dest{
    position: relative;
    z-index: 1;
    width: fit-content;
    overflow: hidden;
    height: 200px;
    display: grid;
    place-items: center;
}

.discover{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    /* background-color: #E1AD01; */
    border: 2px solid #E1AD01;
    width: 200px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.discover::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #E1AD01;
    top: 0;
    left: 95px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(0);
    padding: 20px;
}

.discover:hover::before{
    /* top: 0; */
    width: 100%;
    height: 100%;
    transform: translateX(-45%);
    opacity: 1;
    border-radius: 0;
}

.destination-card{
    height: fit-content;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  5px 5px 40px #bebebe,
                -10px -10px 20px #ffffff;
    flex-basis: 25%;
    padding: 10px;
}

.destination-card:hover{
    cursor: pointer;
}

.destinations > div{
    margin-top: 30px;
}
.destination-image{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.destination-image:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.4s;
}

.next-holiday{
    height: 950px;
    padding: 2%;
    border-radius: 25px;
    position: relative;
}

.holiday{
    min-height: 60%;
    background-image: url('../images/tanzania.jpg');
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.next-holiday-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.5);  
    border-radius: 25px;
}

.holiday h2{
    font-weight: 900;
    font-size: 90px;
    margin-bottom: 0;
    z-index: 1;
}

.holiday .packages-link{
    text-decoration: none;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    width: fit-content;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.holiday .packages-link::before{
    content: "";
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 80px;
    z-index: -1;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.5s ease;
    opacity: 0;
}

.holiday .packages-link:hover::before{
    width: 100%;
    height: 100%;
    transform: translateX(48%);
    border-radius: 25px;
    transition: all 0.4s ease;
    opacity: 1;
}

.packages-link:hover{
    color: black;
}

.travel-with-us{
    position: absolute;
    background-image: url('../images/surfer-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 30%;
    border-radius: 25px;
    left: 12%;
    top: 500px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.travel-with-us .header{
    color: black;
    flex-direction: column;
}

.travel-with-us .header h3{
    font-size: 70px;
    margin: 0;
}

.travel-with-us .header h4{
    font-size: 30px;
    margin: 0;
}

.travel-with-us .email-address{
    width: 50%;
    position: relative;
}

.travel-with-us .email-address input{
    border-radius: 25px;
    padding: 20px;
    outline: none;
    border: none;
    width: 100%;
    font-size: large;  
}

.travel-with-us .email-address a{
    text-decoration: none;
    background-color: #00b9f3;
    padding: 22px;
    border-radius: 25px;
    position: absolute;
    right: 0;
}

.footer{
    height: 40vh;
    background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgba(0,126,62,1) 20%, rgba(0,126,62,1) 80%, rgb(32, 32, 32) 100%);
}

.footer-container{
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 0px 90px;
    height: 100%;
}

.footer-menu-item ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu-item ul li{
    list-style-type: none;
    margin: 10px 0;
}

.footer-menu-item ul li a{
    text-decoration: none;
    color: white;
}

.footer-menu-item ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px){

    .header{
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
        background-color: #05833F;
    }
    .nav{
        justify-content: space-between !important;
    }
    .wave{
        display: none;
    }

    .logo{
        height: 70%;
    }

    .logo img{
        height: 100% !important;
        width: 100% !important
    }
    .mainMenu{
        display: none;
    }

    .account{
        display: none;
    }

    .mobile-menu{
        display: block;
        /* position: relative; */
        /* top: 50px; */
        /* left: 50px; */
        margin-right: 10px;
        user-select: none;
    }

    .mobile-menu input{
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 0;
        opacity: 0;
        top: 38px;
        right: 2px;
    }
   
    .mobile-menu span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        /* position: relative; */
        background-color: #ffffff;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
    }

    .mobile-menu span:first-child{
        transform-origin: 0% 0%;
    }

    .mobile-menu span:last-child(2){
        transform-origin: 0% 100%;
    }

    .mobile-menu input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background-color: black;
    }

    .mobile-menu input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    .mobile-menu input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
}